* {
    font-family: sans-serif;
}
body {
    padding-top: 150px;
}
.container {
    width: 100%;
    max-width: 620px;
    background-color: silver;
    margin: 10px auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
label {
    cursor: pointer;
}
.value input{
    width: 15px;
}
#values {
    display: flex;
    flex-wrap: wrap;
}
.value {
    margin-right: 10px;
}
#getValues {
    margin-left: auto;
}
#output {
    display: flex;
}
.reload {
    margin-left: auto;
}