.accordeon {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.accordeon__item {
  border: 1px solid #000;
}

.accordeon__item__title {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  cursor: pointer;
}

.arrow__btn {
  margin-right: 10px;
  transform: rotate(90deg);
}

.accordeon__item__text {
  padding: 0 20px;
  display: none;
  overflow: hidden;
  transition: all .1s ease-in-out;
}

.active {
  display: block;
}



